.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#1e485b, 0.82);
	}

	&__block {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 814px;
		max-height: 100vh;
		padding: 30px;
		background-color: #ffffff;
		overflow-y: auto;
	}

	&__close {
		position: absolute;
		top: 36px;
		right: 30px;
		padding: 0;
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}
}
