* {
	outline: none;
	box-sizing: border-box;
}

body,
html {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	margin: 0;
	font-family: "ProximaNova", sans-serif;
	line-height: 1.13;
}

.site-wrapper {
	flex-grow: 1;
}

img {
	max-width: 100%;
	height: auto;
}
