.footer {
	padding-top: 36px;
	padding-bottom: 12px;
	background-color: rgba(#1e485b, 0.3);

	@include media-breakpoint-up(lg) {
		padding-top: 55px;
		padding-bottom: 29px;
	}

	&__column {
		&:not(:last-of-type) {
			margin-bottom: 31px;
			padding-bottom: 29px;
			border-bottom: solid 1px #1e485b;

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
				padding-bottom: 0;
				border: none;
			}
		}
	}

	&__logo {
		width: 196px;
		margin-bottom: 21px;

		@include media-breakpoint-up(lg) {
			position: relative;
			margin-bottom: 25px;
			padding-bottom: 41px;

			a {
				display: inline-block;
			}

			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 42px;
				border-bottom: solid 2px #000000;
				content: "";
			}
		}
	}

	&__contacts {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: column;
		}
	}

	&__address,
	&__phone,
	&__email {
		font-family: "ProximaNova", sans-serif;
		font-size: 14px;
		line-height: 1.79;
		color: #000000;
		letter-spacing: 0.42px;
	}

	&__phone {
		text-decoration: none;
	}

	&__menu {
		.menu {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			font-family: "ProximaNova", sans-serif;
			font-size: 16px;
			line-height: 2.38;
			font-weight: 300;
			color: #000000;
			letter-spacing: 0.48px;
		}
	}

	&__feedback {
		display: flex;
		justify-content: space-between;
		margin-top: 37px;

		@include media-breakpoint-up(lg) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__button {
		padding: 0;
		background-color: transparent;
		border: 0;
		font-size: 16px;
		line-height: 2.63;
		font-weight: 300;
		color: #000000;
		text-decoration: underline;
		cursor: pointer;
	}

	&__order {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 188px;
		height: 42px;
		margin-bottom: 18px;
		background-color: #ffc400;
		border: solid 1px #000000;
		font-family: "ProximaNova", sans-serif;
		text-decoration: none;

		@include media-breakpoint-up(lg) {
			margin-right: 31px;
			margin-bottom: 0;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			margin-top: 38px;
		}

		a:not(:last-of-type) {
			margin-bottom: 10px;

			@include media-breakpoint-up(lg) {
				margin-right: 25px;
				margin-bottom: 0;
			}
		}
	}

	&__sertificats {
		position: relative;
		display: flex;
		font-family: "ProximaNova", sans-serif;
		font-size: 16px;
		line-height: 3.13;
		font-weight: 300;
		color: #000000;

		> span {
			position: absolute;
			top: -8px;
			left: -52px;
			height: 16px;
			transform: rotate(-90deg) translateX(-50%);

			@include media-breakpoint-up(lg) {
				top: auto;
				bottom: 12px;
				left: -112px;
				transform: rotate(-90deg) translateX(50%);
			}
		}
	}

	&__sertificats-list {
		display: flex;
		padding-left: 40px;

		@include media-breakpoint-up(lg) {
			flex-wrap: wrap;
			padding-left: 0;
		}
	}

	&__sertificats-item {
		position: relative;

		&:not(:last-of-type) {
			margin-right: 21px;

			@include media-breakpoint-up(lg) {
				&:nth-child(3n + 3) {
					margin-right: 0;
				}
			}
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71.837' height='67.603' viewBox='0 0 71.837 67.603'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.5' x2='.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='.831'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath data-name='Path 31' d='M0 0h71.837v45.766L2.215 67.6z' fill='url(%23a)'/%3E%3C/svg%3E")
				no-repeat center center;
			content: "";
		}
	}

	&__copyright {
		margin-top: 46px;
		font-family: "ProximaNova", sans-serif;
		font-size: 13px;
		line-height: 2.23;
		color: #000000;
		letter-spacing: 0.39px;

		@include media-breakpoint-up(lg) {
			margin-top: 42px;
		}
	}
}
