.header {
	&__top {
		display: flex;
		align-items: center;
		height: 38px;
		background-color: #1e485b;
	}

	&__top-content {
		display: flex;
		justify-content: flex-end;
	}

	&__top-item {
		font-family: "ProximaNova", sans-serif;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 300;
		color: #c1b899;
		text-decoration: none;

		&:not(:last-of-type) {
			margin-right: 30px;
		}

		.icon {
			vertical-align: middle;
		}

		span {
			text-decoration: underline;
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}
}
