.header {
	&__top {
		display: flex;
		align-items: center;
		height: 38px;
		background-color: #1e485b;
	}

	&__top-content {
		display: flex;
		justify-content: flex-end;
	}

	&__top-item {
		font-family: "ProximaNova", sans-serif;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 300;
		color: #c1b899;
		text-decoration: none;

		&:not(:last-of-type) {
			margin-right: 30px;
		}

		.icon {
			vertical-align: middle;
		}

		span {
			text-decoration: underline;
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}

	&__main {
		background-color: #ffffff;
	}

	&__main-container {
		display: flex;
		align-items: center;
		padding-top: 14px;
		padding-bottom: 11px;
	}

	&__main-logo {
		width: 191px;
		height: 51px;

		@include media-breakpoint-up(lg) {
			width: auto;
			height: auto;
		}
	}

	&__main-call {
		margin-left: auto;
		padding: 0;
		background-color: transparent;
		border: 0;
		font-family: "ProximaNova", sans-serif;
		font-size: 14px;
		line-height: 1.21;
		font-weight: 300;
		color: #000000;
		letter-spacing: 0.42px;
		cursor: pointer;
	}

	&__main-burger {
		margin-right: 28px;
		padding: 0;
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}

	&__main-info {
		margin-left: auto;
	}

	&__main-info-top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 16px;
	}

	&__main-city {
		margin-right: 83px;
		font-family: "ProximaNova", sans-serif;
		font-size: 16px;
		line-height: 1.25;
		font-weight: 300;
		color: #000000;
		letter-spacing: 0.48px;

		.icon {
			vertical-align: middle;
		}
	}

	&__main-contact {
		display: flex;
		flex-direction: column;
	}

	&__main-phone {
		font-family: "ProximaNova", sans-serif;
		font-size: 19px;
		line-height: 1.21;
		font-weight: 300;
		color: #000000;
		text-decoration: none;
		letter-spacing: 0.57px;

		.icon {
			vertical-align: middle;
		}
	}

	&__main-phone-number {
		position: relative;
		z-index: 1;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
			display: block;
			width: 100%;
			height: 10px;
			background-color: #ffc400;
			content: "";
			transform: translateY(-2px);
		}

		span {
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 0.72px;
		}
	}

	&__main-menu {
		@include media-breakpoint-up(lg) {
			.menu {
				display: flex;
				margin: 0;
				list-style: none;
			}

			.menu-item {
				position: relative;
				padding-right: 8px;
				padding-left: 8px;
				padding-bottom: 19px;
				font-family: "ProximaNova", sans-serif;
				font-size: 13px;
				line-height: 1.24;
				font-weight: 300;
				letter-spacing: 0.51px;
				text-transform: uppercase;

				@include media-breakpoint-up(xl) {
					padding-right: 11px;
					padding-left: 11px;
					font-size: 17px;
				}

				&.current-menu-item ::after {
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 10px;
					background-color: #ffc400;
					content: "";
				}

				a {
					color: #000000;
					text-decoration: none;
				}
			}
		}
	}
}
