@import "./header.scss";
@import "./footer.scss";
@import "./components/accordion/frontend.scss";
@import "./components/common/frontend.scss";
@import "./components/reviews/frontend.scss";
@import "./components/divider/frontend.scss";
@import "./components/section/frontend.scss";
@import "./components/advantages/frontend.scss";
@import "./components/home-order/frontend.scss";
@import "./components/home-price/frontend.scss";

.swiper-wrapper {
	align-items: center;
}

.wp-block-image .aligncenter {
	margin-top: 0;
	margin-bottom: 0;
}
