.home-order {
	padding-top: 36px;
	padding-bottom: 44px;

	&__image {
		margin-bottom: -80px;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 46px;
		padding-bottom: 34px;
	}

	&__description {
		margin-bottom: 33px;
		font-family: "ProximaNova", sans-serif;
		font-size: 19px;
		line-height: 1.21;
		font-weight: 300;
		color: #000000;

		@include media-breakpoint-up(lg) {
			font-size: 26px;
			line-height: 1.46;
		}
	}

	.wpcf7-form {
		display: flex;
		flex-wrap: wrap;
	}

	input.wpcf7-form-control {
		width: 100%;
		max-width: 100%;
		height: 35px;
		margin-bottom: 31px;
		border: 0;
		border-bottom: solid 2px #707070;
		border-radius: 0;
		font-family: "ProximaNova", sans-serif;
		font-size: 22px;
		line-height: 1.09;
		color: #000000;

		@include media-breakpoint-up(lg) {
			margin-bottom: 40px;
		}
	}

	input.wpcf7-form-control[type="submit"] {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		max-width: 184px;
		height: 48px;
		background-image: linear-gradient(to bottom, #ffdc67, #ffc400);
		border: 0;
		font-family: "PragmaticaSlab", sans-serif;
		font-size: 17px;
		line-height: 1;
		font-weight: bold;
		color: #000000;
		text-shadow: 0 2px 1px rgba(255, 255, 255, 0.52);

		@include media-breakpoint-up(lg) {
			max-width: 226px;
			height: 59px;
			font-size: 22px;
		}
	}

	label {
		margin-bottom: 10px;
		font-family: "ProximaNova", sans-serif;
		font-size: 15px;
		line-height: 1.6;
		color: #000000;
	}
}
