.form-checkbox {
	margin-bottom: 2px;

	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
		margin-left: 10px;
	}

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		font-family: "ProximaNova", sans-serif;
		font-size: 10px;
		line-height: 1;
		font-weight: bold;
		color: #000000;

		@include media-breakpoint-up(lg) {
			font-size: 15px;
		}

		span:first-of-type {
			order: 1;
		}

		span:last-child {
			order: 3;
			color: #c1b899;
		}

		span:nth-of-type(2) {
			position: relative;
			display: inline-flex;
			order: 2;
			width: 20px;
			height: 11px;
			margin-right: 3px;
			margin-left: 3px;
			padding: 1px;
			background-color: #ffffff;
			border: solid 1px #707070;
			border-radius: 8px;

			@include media-breakpoint-up(lg) {
				width: 29px;
				height: 15px;
				margin-right: 9px;
				margin-left: 9px;
			}

			&::before {
				display: inline-block;
				width: 7px;
				height: 7px;
				background-color: #ffc400;
				border-radius: 8px;
				content: "";

				@include media-breakpoint-up(lg) {
					width: 11px;
					height: 11px;
				}
			}
		}
	}

	input[type="checkbox"]:checked + label {
		span:first-of-type {
			order: 1;
			color: #c1b899;
		}

		span:last-child {
			order: 3;
			color: #000000;
		}

		span:nth-of-type(2) {
			&::before {
				margin-left: auto;
			}
		}
	}
}
