@import "./frontend.scss";

.block-review {
	&__slider {
		display: flex;
		width: calc(100% + 50px);
		margin-right: -25px;
		margin-left: -25px;
		overflow-x: auto;

		> div {
			flex: 0 0 350px;
			margin-right: 15px;
			margin-left: 15px;
		}
	}
}
